@model WebApplication2.Models.Test

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Test</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>
        <dt>
             @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Pass)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.JoinDate)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>
        <dd>

            @if (Model.Gender == true)
            {
                {<text>  Female </text>}
            }
            else
            {
                {<text>  Male </text>}

            }


        </dd>
        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Pass)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.JoinDate)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
