@model WebApplication2.Models.Test

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Test</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Pass)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.JoinDate)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>
        <dd>

            @if  ( Model.Gender == true)
            {
                {<text>  Female </text>}
            }
            else
            {
                {<text>  Male </text>}

            }


        </dd>
        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Pass)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.JoinDate)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>
</dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
